/* -------------------------- IMPORTING GOOGLE FONT ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ---------------------------- BASE & UTILITIES ---------------------------- */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}
.hr-small {
  width: 5rem;
  border: none;
  border-bottom: 2px solid #e76f51;
}
main {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}
/* ------------------------------ CUSTOM TEXT & COLORS ----------------------------- */
.fw-500 {
  font-weight: 500;
}
.color-orange {
  color: #e76f51;
}
.grayscale {
  filter: grayscale(100%);
}
.bg-grey {
  background-color: #f1f1f1;
}
.text-grey-light {
  color: #e0e0e0;
}
.text-grey-dark {
  color: #6c6c6c;
}
.text-color-blue {
  color: #23a6f0;
}
.text-color-blue-deep {
  color: #252b42;
}
.text-small {
  font-size: 0.8rem;
}
.bg-modal {
  background-image: linear-gradient(
    to left bottom,
    rgba(38, 70, 83, 0.5),
    rgba(38, 70, 83, 0.3)
  );
}
.border-dark-blue {
  border: 1px solid #264653 !important;
}
/* --------------------------------- BUTTONS -------------------------------- */
.btn-primary-cbr {
  text-decoration: none;
  display: inline-block;
  background-color: #e76f51;
  font-weight: 500;
  width: max-content;
  color: #fff;
  border: none;
  border-radius: 3px;
  border: 3px solid transparent;
  transition: all 0.2s;
  cursor: pointer;
}
.btn-primary-cbr-lg {
  padding: 0.8rem 2.5rem;
}
.btn-primary-cbr-sm {
  padding: 0.6rem 1.5rem;
}
.btn-primary-cbr:hover {
  background-color: #fff;
  color: #e76f51;
  border: 3px solid #e76f51;
}
/* --------------------------------- HEADER --------------------------------- */
.header {
  background-image: linear-gradient(
      to left bottom,
      rgba(38, 70, 83, 1),
      rgba(38, 70, 83, 0.9)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}
.header-item,
.faq-item {
  flex: 1;
}

/* -------------------------- SECTION CLIENT REVIEW ------------------------- */
.card-img-top-review {
  height: 12rem;
}
.card-img-top-review img {
  width: 9.3rem;
  height: 9.3rem;
  object-fit: cover;
}

/* -------------------------------- COROUSEL OUTLET-------------------------------- */
.carousel-item-outlet {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/carousel-banner.jpg);
  background-size: cover;
  background-position-y: 50rem;
}

.carousel-item-details {
  flex: max-content;
}
.carousel-item-details img {
  width: 26rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 2rem;
  border: 0.5rem solid #e76f51;
}

/* ------------------------------ GET IN TOUCH ------------------------------ */
.bike-logo-box {
  border: 1px solid #e76f51;
  border-radius: 3px;
  background-color: #f1f1f1;
}
.bike-logo-box img {
  width: 8rem;
  height: 3rem;
  object-fit: contain;
}

/* --------------------------------- FOOTER --------------------------------- */
.footer-item {
}
.footer-list {
  list-style: none;
}
.footer-list-item {
}
.footer-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  transition: all 0.2s;
}
.footer-link:hover {
  color: #fff;
  background-color: #e76f51;
  transform: skew(-25deg);
}
.app-box {
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}
.app-box:hover {
  background-color: #e76f51 !important;
  color: #fff !important;
  border: 1px solid transparent;
}

/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 556px) {
  .carousel-item-details img {
    width: 18rem;
    height: 12rem;
  }
  .carousel-item-outlet {
    background-position: center;
  }
}
